* {
    box-sizing: border-box;
  }
/* Navbar and sections*/
.sections{
    padding:100px 20px;
}
.navbar-item{
    font-size: 18px;
    padding: 0px 5px 5px 0px;
}
.navbar-dropdown{
    text-align: right;
}

/*Footer*/
footer{
    height: auto;
    padding: 20px;
    text-align:center;
}
footer a{
    text-decoration: none;
}
footer a:hover{
    color:red;
}
footer .made{
    padding: 0px;
    font-size:14px;
}

/*Feedback form*/
.form-item{
    margin-bottom:20px;
  }
.feedback-div{
    text-align: center;
    width:fit-content;
    padding: 10px;
}

form span{
    color: #ff3333;
}

/* To the top button */
#toTheTopBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    font-size: 20px;
    cursor: pointer;
    background-color: transparent;
  }
  
#toTheTopBtn:hover {
    color:red;
}

/*fullscreen video */
.video {
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 20%;
}
  
.content {
    position:absolute;
    bottom:0%;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
}
  
#videoController {
    background: none;
    font-size: 18px;
    padding: 5px;
    color: #fff;
    cursor: pointer;
}

div.zoom {
    transition: transform .3s;
    width: 40%;
}
 
.transition {
    transform: scale(1.2);
}
