/* Navbar and sections*/
.sections{
    padding:100px 20px;
}
.navbar-item{
    font-size: 18px;
    padding: 0px 5px 5px 0px;
}
.navbar-dropdown{
    text-align: right;
}

/*Footer*/
footer{
    height: auto;
    padding: 20px;
    text-align:center;
}
footer a:hover{
    color:red;
}
footer .made{
    padding: 0px;
    font-size:14px;
}

/*Feedback form*/
.form-item{
    margin-bottom:20px;
  }
.feedback-div{
    text-align: center;
    width:fit-content;
    padding: 10px;
}

form spam{
    color: #ff3333;
}

/* To the top button */
#toTheTopBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    font-size: 20px;
    cursor: pointer;
    background-color: transparent;
  }
  
#toTheTopBtn:hover {
    color:red;
}

  